.DS_Store
.atom/
.idea
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
.flutter-plugins
CertificateSigningRequest.certSigningRequest
ios Distribution signing certificate.p12
ios_development.cer
